
img{
	width: 30%;
	float: left;
	height: 30%;
	margin: 1.66%;
}
h1{
	font-family: Raleway;
	font-weight: 800;
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	width: 50%;
	text-transform: uppercase;
	padding-bottom: 5px;
}
body{
	background: url(https://images.unsplash.com/photo-1582176789881-d95bca0b28c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	background-size:cover;
	background-position: right;
}